// import mixins
@use "../../mixins.scss";

.container {
  background-color: #007ea7;
  width: 60%;
  margin: auto;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  padding: 1rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      display: block;
      border-radius: 0.6rem;
      padding: 1rem;
    }
    input {
      height: 5rem;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .title {
      display: flex;
      flex-direction: column;

      label {
        font-size: 2rem;
        font-weight: bold;
      }
    }
    .post {
      display: flex;
      flex-direction: column;

      label {
        font-size: 2rem;
        font-weight: bold;
      }
      textarea {
        height: 6rem;
        font-size: 1.2rem;
      }
    }

    .buttonswrap {
      min-height: 7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .addpost {
        @include mixins.button(#4f772d);
        font-weight: bold;
        color: white
      }

      .cancel {
        @include mixins.button(#ef233c);
        font-weight: bold;
        color: white
      }
    }
  }
}
