.maincontainer {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 0.5rem;
  color: white;

  // content styling
  .content {
    width: 60rem;
    height: 100%;
    background-color: #14213d;
    overflow-y: auto;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}
