.maincontainer{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0.5rem;
    color: white;

    // content styling
    .content{
        width: 60rem;
        height: 100%;
        overflow-y: auto;
        // border: 1px solid red;
        border-radius: 0.5rem;
        padding: 1rem;
    }
}
