@use "../../mixins.scss";

.container {
  @include mixins.container();
  // profile styling starts here
  .profilewrapp {
    // background-color: #;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 1rem;


    // figure
    figure {
      width: 6rem;
      height: 6rem;
      border-radius: 100vw;
      overflow: hidden;
    }
    // profile details
    .prof-details {
      width: 50%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 2rem;
      }

      .status {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        span {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 100vw;
          background-color: green;
        }
      }
    }
  }

  // post styling starts here
  .postwrapp {
    @include mixins.lists();
    height: 100%;
    
    .addpost {
      display: flex;
      align-items: center;
      gap: 1rem;

      h1 {
        font-size: 1.5rem;
      }
      button{
        @include mixins.button(aqua);
      }
    }

    // posts container
    .postswrapp {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      overflow-y: auto;
    }
  }
}
