.container {
  background-color: #6930c3;
  width: 80%;
  height: 9rem;
  overflow-y: auto;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  margin: auto;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    outline: 2px solid orangered;
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-size: 1.2rem;
    }

    .username {
      font-weight: bold;
    }
    .comment {
      font-size: 1rem;
    }
  }
}
