.container {
  border: 1px solid red;
  height: 8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;

  .userwrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid blue;

    .username {
      font-weight: bold;
      font-size: 1.2rem;
    }
    .status {
        display: block;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 100vw;
      background-color: red;
    }

    .online {
      background-color: green;
    }
  }
}
